.cntnr {
    justify-content: center;
    margin: 20px auto;
}

.rslt {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.rslt:hover {
    background-color: #ddd;
    border-color: #aaa;
    box-shadow: 0px 3px 3px rgba(33, 12, 219, 0.5);
}